#salida{
	width: auto;
	height: auto;

}
#salida div{
	width: 100%;
	height: auto;
	border-bottom: solid;
	border-width: 2px;
	border-color: black;
	margin-top: 3px;
	margin-bottom: 6px;
}
#salida div p{
	font-size: 11px;
	font-family: monospace;
	
	font-weight: 300;
	text-align: left;

}